<h2>Your teaching digest for today</h1>
<h4><%= Date.today.strftime("%a, %b%e, %Y") %></h6>

<p>Hello, <%= @user.first_name %>! Here is everything you need to rock those lessons today.</p>
<p>Happy teaching!</p>

<hr>

<% @user.todays_lessons.each do |lesson| %>

  <h5>
    <%= lesson.student.full_name %>
    <%= lesson.starts_at.in_time_zone(@user.timezone).strftime("%l:%M %P") %>
    (<%= lesson.duration %> min.)
  </h5>

  <h6>

    Previous Lesson (<%= lesson.student.past_lessons.first.starts_at.in_time_zone(@user.timezone).strftime("%a, %b%e, %Y") %>)
  </h6>
  
  <% if lesson.lesson_notes.present?%>
    
  <p><%= lesson.student.past_lessons.first.lesson_notes %></p>
  <% else %>
  <p> This lesson doesn't have any notes. </p>
    
  <% end %>

<% end %>
