<%= form_with(model: student) do |form| %>
  

  <div class=" mb-2 col-md-4">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class=" mb-2 col-md-4">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class=" mb-2 col-md-1">
    <%= form.label :age, class: "form-label" %>
    <%= form.text_field :age, class: "form-control" %>

    <div class="d-flex">
      <%= form.check_box :adult, class: "form-check me-2" %>
      <%= form.label :adult, class: "form-check-label" %>
    </div>
  </div>

  <div class="mb-2">
    <%= form.label :student_notes, class: "form-label" %>
    <%= form.text_area :student_notes, class: "form-control", rows: 3 %>
  </div>

  <div>
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
