<%= turbo_frame_tag "recent_lessons_frame" do %>
  <div class="d-flex">
    <div class="pe-2 ps-sm-2" data-action="click->side-bar#toggle">
      <img src="<%= image_path('hide-sidebar.svg') %>" alt="Toggle Icon" data-side-bar-target="toggleIcon" style="width: 16px; height: auto;" class="mb-1">
    </div>
    <div class="h5"><%= @student.full_name %></div>
  </div>

  <% if @student.upcoming_lesson.present? %>
    <div class="h6 mt-1 ps-sm-2">Upcoming lesson</div>
    <hr class="mt-0">
    <%= render "students/highlighted_lesson", student: @student, lesson: @student.upcoming_lesson %>
  <% end %>

  <div class="h6 mt-3 ps-sm-2">Previous lessons</div>
  <hr class="mt-0">
  <div class="overflow-auto mb-0 mx-sm-2" style="max-height: 60vh;">
    <% @recent_lessons.each do |lesson| %>
      <%= render 'users/dashboard_lesson', lesson: lesson %>
    <% end %>
  </div>
  <hr class="mt-0">

<% end %>
