
<div id="<%= dom_id student %>">
  <p>
    <strong>name:</strong>
    <%= "#{student.first_name} #{student.last_name}" %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %><%= " This an adult student" if student.adult? %>
  </p>


  <p>
    <strong>Student notes:</strong>
    <%= student.student_notes %>
  </p>


</div>
