<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Adult:</strong>
    <%= student.adult %>
  </p>


  <p>
    <strong>Student notes:</strong>
    <%= student.student_notes %>
  </p>


</div>
