

<div id="<%= dom_id student.upcoming_lesson %>">
 
  <div class="card mb-1">
  
    <div class="card-header pb-1">
      <h6 class="card-title d-flex justify-content-between">
        <span>
          <%= student.upcoming_lesson.starts_at.strftime("%a, %-d %b, %Y") %>
          <span class="card-subtitle mb-2 text-body-secondary">
            <%= student.upcoming_lesson.starts_at.strftime("%I:%M%P") %>
          </span>
        </span>
      </h6>

    </div>
    <div class="card-body" data-students-index-target="contactCardBody">

<div class="d-flex justify-content-around">
  <%= link_to "Log lesson", edit_student_lesson_path(student.id, student.upcoming_lesson), data: { turbo: false }, method: :get, class: "h6" %>
  <%= link_to "Cancel lesson", edit_student_lesson_path(student_id: student.id, id: student.upcoming_lesson, status: "canceled"), data: { turbo: false }, method: :get, class: "h6"%>

</div>
      
    
    </div>

  </div>

</div>
