<!-- <p style="color: green"><%= notice %></p> -->

<turbo-frame id="student-details" class="student-details">

  <div>
    <%= link_to "Edit this student", edit_student_path(@student), data: { turbo_frame: "student-details" } %> |
    <%= link_to "Back to students", students_path %>
  
    <%= button_to "Destroy this student", @student, method: :delete %>
  </div>

  <%= render @student %>
  
  
</turbo-frame>
