<div id="<%= dom_id lesson %>">

  <div class="card mb-3">
     <div class="card-header pb-0">
       
      <div class="row align-items-center">
        
        <div class="col-10 col-sm-8 col-md-auto d-flex align-items-center">
          <div class="text-nowrap card-title", style="width: 140px;">
            <%= l(lesson.starts_at, format: :custom) %>
          </div>
        </div>
        
        <div class="col-10 col-sm-8 col-md-auto d-flex justify-content-start align-items-center mt-2 mt-sm-0">
          <div class="card-subtitle mb-1">
            <%= lesson.starts_at.strftime("%I:%M%P") %>
          </div>

          <% if lesson.canceled? %>
            <span class="badge rounded-pill text-bg-warning px-2 ms-4 mb-2"><%= t("canceled") %></span>
          <% end %>
          
          <% if lesson.taught? %>
            <span class="badge rounded-pill text-bg-info px-2 ms-4 mb-2"><%= t("taught") %></span>
          <% end %>
          
        </div>
        </div>
    </div>
    <div class="card-body" data-students-index-target="contactCardBody">

      <% if lesson.lesson_notes.present? %>
        
      <div><%= lesson.lesson_notes %></div>

      <% else %>

      <p class="text-body-secondary">
        <%= t("lesson_notes_placeholder") %> <%= link_to t("log_lesson_now"), edit_student_lesson_path(lesson.student, lesson), data: {turbo_frame: "_top"}, class: "h6" %>
      </p>

      <% end %>
    
    </div>

  </div>

</div>
