<div data-controller="side-bar">
  <div class="h1 mb-0 pb-0">Dashboard</div>

  <% week_lessons = current_user.lessons.this_week.where.not(status: "canceled" ).includes(:student).map(&:student).uniq { |student| student.id } %>

  <%= render partial: "shared/sidebar", 
    locals: { 
      toggle_button_action: "click->side-bar#toggle",
      array_to_iterate: week_lessons,
      link_path: ->(student_id) { recent_lessons_student_path(student_id) },
      frame: "recent_lessons_frame"
      } %>

  <div class="col-9 col-sm-7 mt-2" data-side-bar-target="contentArea">
    <turbo-frame id="recent_lessons_frame", src="<%= recent_lessons_student_path(week_lessons.first) if current_user.students.any? && current_user.students.first.lessons.any? %>", class="align-items-center justify-content-center" >

      <div class="bg-body-tertiary h-100 text-center py-5 px-5">
        <div class="h5">Welcome!</div>
        This page will populate with helpful information as you begin to <%= link_to "add students", students_path, data: { turbo_frame: "_top" } %> and schedule lessons.
      </div>

    </turbo-frame>
  </div>

  <div class="col-12 col-sm-3">

    <%= render "students/recent_students" %>
    <%= render "users/lessons_to_log" %>

  </div>

</div>

</div>
