<div data-controller="side-bar">
  <div class="h1 my-0 pb-0 ps-sm-2 ">Dashboard</div>
  <hr class="my-2">
  

  <% week_lessons = current_user.lessons.this_week.where.not(status: "canceled" ).includes(:student).map(&:student).uniq { |student| student.id } %>

  <%= render partial: "shared/sidebar", 
    locals: { 
      array_to_iterate: week_lessons,
      link_path: ->(student_id) { recent_lessons_student_path(student_id) },
      frame: "recent_lessons_frame"
      } %>

  <div class="col-9 col-sm-8 mt-1" data-side-bar-target="contentArea">
    <turbo-frame id="recent_lessons_frame", src="<%= recent_lessons_student_path(week_lessons.first) if current_user.students.exists? && current_user.students.first.lessons.exists? %>", class="align-items-center justify-content-center" >

      <div class="bg-body-tertiary h-100 text-center py-5 px-5 rounded-3">
        <div class="h5">Welcome!</div>
        This page will populate with helpful information as you begin to <%= link_to "add students", students_path, data: { turbo_frame: "_top" }, class: "h6" %> and schedule lessons.
      </div>

    </turbo-frame>
  </div>

  <div class="col-12 col-sm-2 mt-1">

    <%= render "students/recent_students" %>
    <hr class="mt-0">
    <%= render "users/lessons_to_log" %>

  </div>

</div>

</div>
