
<%= turbo_frame_tag(dom_id contact) do %>
  <p>
    <strong>Name:</strong>
    <%= contact.full_name %>
  </p>

  <% if contact.phone.present? %>
    <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>
  <% end %>
  

  <% if contact.email.present? %>
    <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>
  <% end %>
  
<!--
  <p>
    <strong>Address:</strong>
    <%= contact.address %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= contact.relationship %>
  </p>

  <p>
    <strong>Preferred communication method:</strong>
    <%= contact.preferred_communication_method %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= contact.notes %>
  </p>

-->
<%= link_to "edit", edit_contact_path(contact) %>
<% end %>
