<div id="<%= dom_id contact %>" data-controller="card">
  <div class="card">
    <div class="card-header pb-1" data-action="click->card#expandCard" data-card-target="cardTitleBar">
      <h6 class="card-title d-flex justify-content-between">
        <span>
          <%= contact.full_name %>
          <% if contact.default? == true %>
            <i class="fa-solid fa-square-check"></i>
          <% end %>
        </span>
        <i class="fa-solid fa-angle-down" data-card-target="expandCardArrow"></i>
      </h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <%= contact.relationship %>
      </h6>

    </div>
    <div class="card-body collapse" data-card-target="cardBody">
      <%= render "contacts/contact_details", contact: contact %>
      
      <a href="<%= edit_contact_path(contact)%>" class="card-link" data-turbo-frame="student-details">Edit contact</a>
      <%=link_to "Delete contact", contact_path(contact), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: "card-link" %>
    </div>


  </div>

</div>
