<div id="<%= dom_id contact %>" data-controller="card">
  <div class="card">
    <div class="card-header pb-0" data-action="click->card#expandCard" data-card-target="cardTitleBar">
      <div class="card-title d-flex justify-content-between">
        <span>
          <%= contact.full_name %>
          <% if contact.default? == true %>
            <i class="fa-solid fa-square-check p-0" aria-label="<%= t('.default_aria') %>"></i>
          <% end %>
        </span>
        <i class="fa-solid fa-angle-down" data-card-target="expandCardArrow"></i>
      </div>
      <h6 class="card-subtitle mb-2">
        <%= contact.relationship %>
      </h6>

    </div>
    <div class="card-body collapse" data-card-target="cardBody">
      <%= render "contacts/contact_details", contact: contact %>
      
    
      <div class="d-flex justify-content-end">
        <%= link_to t("edit"), edit_contact_path(contact), data: { turbo_frame: "_top" }, class: "h6 me-3" %>
        <%= link_to t("delete"), contact_path(contact), data: { turbo_method: :delete, turbo_confirm: t(".confirmation") }, class: "h6" %>
      </div>
    </div>


  </div>

</div>
