<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :student_id %>

  <span>
    <%= form.check_box :default, checked: contact.default? ? true : false %>
     <%= label_tag "contact[default]", "Default contact", style: "display: inline" %>
  </span>

  <span>
    <%= form.check_box :self, checked: contact.relationship == "self" ? true : false, data: { "create-contact-target": "selfCheckbox", action: "click->create-contact#toggleSelf"} %>
    <%= label_tag "contact[self]", "Self", style: "display: inline" %>
  </span>

  <div data-create-contact-target="firstNameDiv">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, data: {"create-contact-target": "firstNameField" } %>
  </div>

  <div data-create-contact-target="lastNameDiv">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, data: {"create-contact-target": "lastNameField" } %>
  </div>  

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  
  <div data-create-contact-target="relationshipDiv">
    <%= form.label :relationship, style: "display: block" %>
    <%= form.text_field :relationship, data: {"create-contact-target": "relationshipField" } %>
  </div>

  <div>
    <%= form.label :preferred_communication_method, style: "display: block" %>
    <%= form.text_field :preferred_communication_method %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit data: {action: "click->student-index#close"} %>
  </div>
<% end %>
