<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :student_id %>

  <div class="d-flex mb-2">
    <%= form.check_box :default, checked: contact.default? ? true : false %>
     <%= label_tag "contact[default]", "Default contact", class: "form-label mb-0 ms-1 me-2" %>
    
    <%= form.check_box :self, checked: contact.relationship == "self" ? true : false, data: { "create-contact-target": "selfCheckbox", action: "click->create-contact#toggleSelf"} %>
    <%= label_tag "contact[self]", "Self", class: "form-label mb-0 ms-1 me-2" %>
  </div>


  <div data-create-contact-target="firstNameDiv" class="mb-2 col-md-4">
    <%= form.label :first_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :first_name, data: {"create-contact-target": "firstNameField" }, class: "form-control" %>
  </div>

  <div data-create-contact-target="lastNameDiv" class="mb-2 col-md-4">
    <%= form.label :last_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :last_name, data: {"create-contact-target": "lastNameField" }, class: "form-control"  %>
  </div>  

  <div class="mb-2 col-md-2">
    <%= form.label :phone, style: "display: block", class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-2 col-md-4">
    <%= form.label :email, style: "display: block", class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :address, style: "display: block", class: "form-label" %>
    <%= form.text_area :address, class: "form-control", rows: 2 %>
  </div>

  
  <div data-create-contact-target="relationshipDiv" class="mb-2 col-md-4">
    <%= form.label :relationship, style: "display: block", class: "form-label" %>
    <%= form.text_field :relationship, data: {"create-contact-target": "relationshipField" }, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.label :preferred_communication_method, style: "display: block", class: "form-label" %>
    <div class="col-md-3"><%= form.select :preferred_communication_method, Contact.preferred_communication_methods.keys.map { |m| [m.titleize, m]}, {prompt: "Select a method"}, style: "display: block", class: "form-select" %></div>
  </div>

  <div class="mb-2">
    <%= form.label :notes, style: "display: block", class: "form-label" %>
    <%= form.text_area :notes, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
<% end %>
