<div data-controller="create-contact" 
  data-create-contact-student-first-value="<%= @contact.student.first_name %>"  
  data-create-contact-student-last-value="<%= @contact.student.last_name %>"
  data-create-contact-contact-first-value="<%= @contact.first_name %>"
  data-create-contact-contact-last-value="<%= @contact.last_name %>"
  data-create-contact-relationship-value="<%= @contact.relationship %>"
  >

  <%= render "shared/breadcrumbs" %>
 <div class="mt-5">
     
      <div class="d-flex align-items-end mb-4">
        <div class="h5 mb-0 pb-0"> Edit contact </div>
      </div>
      <%= render "form", contact: @contact %>
  </div>
  
</div>
