
<div data-controller="create-contact" 
  data-create-contact-student-first-value="<%= @contact.student.first_name %>"  
  data-create-contact-student-last-value="<%= @contact.student.last_name %>"
  data-create-contact-contact-first-value="<%= @contact.first_name %>"
  data-create-contact-contact-last-value="<%= @contact.last_name %>"
  data-create-contact-relationship-value="<%= @contact.relationship %>"
  >
  
  <%= render "shared/breadcrumbs" %>

  <%= render "form", contact: @contact %>
  
</div>
