<%= form_with(model: lesson, url: [@student, @lesson], data:{ controller:"trix"}) do |form| %>
  

  <% if lesson.new_record? %>
    <div class="col-md-4 mb-2">
      <%= form.label :student_id, style: "display: block", class: "form-label" %>
      <%= form.select :student_id, current_user.students.map { |s| [s.full_name, s.id] }, {}, onchange: "window.location = '/students/' + this.value + '/lessons/new'", class: "form-select" %>
    </div>
  <% else %>
    <%= form.hidden_field :student_id %>
  <% end %>

  <div class="col-md-4 mb-2">
    <%= form.label :starts_at, style: "display: block", class: "form-label" %>
    <%= form.datetime_field :starts_at, class: "form-control" %>
  </div>

  <div class="col-md-2 mb-2">
    <%= form.label :duration, style: "display: block", class: "form-label" %>
    <div class="d-flex align-items-end"><%= form.number_field :duration, class: "form-control", style: "max-width: 60px;", aria_describedby: "duration-unit" %> 
      <span class="ps-2 pb-1" id="duration-unit">min.</span>
    </div>
  </div>

  <div class="col-md-2 mb-2">
    <%= form.label :status, style: "display: block", class: "form-label" %>
    <%= form.select :status, t("activerecord.enums.lesson.status").map { |key, enum| [enum.titleize, key]}, {prompt: "Select a status"}, style: "display: block", class: "form-select" %>
  </div>

  <div class="mb-2"> 
    <%= form.label :lesson_notes, style: "display: block", class: "form-label" %>
    <%= form.rich_text_area :lesson_notes, class: "form-control", rows: 3, class: "trix-content" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
