<div id="<%= dom_id lesson %>">
  <p>
    <strong>Calendar:</strong>
    <%= lesson.calendar_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= lesson.student_id %>
  </p>


  <p>
    <strong>Started at:</strong>
    <%= lesson.started_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= lesson.duration %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= lesson.status %>
  </p>

  <p>
    <strong>Lesson notes:</strong>
    <%= lesson.lesson_notes %>
  </p>

</div>
