<div data-controller="side-bar">

  <div class="d-flex align-items-end">
    <div class="h1 mb-0 pb-0"> Lessons </div>

    <div class="mb-1 ps-3 ms-sm-5">
      <%= link_to "new", new_student_lesson_path(@student), data: { turbo_frame: "lessons-student" }, class:"h6 me-3" %>
      <%= link_to "bulk create", bulk_new_student_lessons_path(@student), data: { turbo_frame: "lessons-student" }, class:"h6 me-3 text-nowrap" %>
      <%= link_to "bulk delete", select_delete_student_lessons_path(@student), data: { turbo_frame: "lessons-student" }, class:"h6 text-nowrap" if @lessons.any?%>
    </div>
  </div>
  <hr class="my-2">

  <%= render partial: "shared/sidebar", 
    locals: { 
      toggle_button_action: "click->side-bar#toggleFullPage",
      array_to_iterate: current_user.students,
      link_path: ->(student_id) { student_lessons_path(student_id) },
      frame: "lessons-student"
      } %>

  <div class="col-9 col-sm-10" data-controller="students-index" data-side-bar-target="contentArea">
    <p class="h5">
      <%= @student.full_name %>
    </p>

    <% if @lessons.any? %>

      <% if @student.last_lesson.present? %>
        <div class="h6 mt-3">Last lesson</div>
        <hr class="mt-0">
        <%= render "students/highlighted_lesson", student: @student, lesson: @student.last_lesson %>
      <% end %>

      <div class="h6 mt-3 d-sm-flex align-items-center justify-content-between text-nowrap">
        All lessons (<%= @lessons.count %>) 
        <div class="mb-0 pe-1"><%= render partial: "lessons/filter" %></div>
      </div>
      <hr class="my-0">
      <div class="overflow-auto mb-0" style="max-height: 60vh;">
        <% @lessons.each do |lesson| %>
          <%= render lesson %>
        <% end %>
      </div>
      <hr class="my-0">
    <% else %>
      <div class="d-flex justify-content-center">
        <div class="h6 mt-5">No lessons scheduled.</div>
      </div>
      

    <% end %>
  </div>

</div>
</div>
