<%= render "shared/breadcrumbs" %>

<div data-controller="students-index side-bar" data-side-bar-show-value="<%= image_path('show-sidebar.svg') %>" data-side-bar-hide-value="<%= image_path('hide-sidebar.svg') %>" class="row h-100">

  <%= render partial: "shared/sidebar", 
    locals: { 
      array_to_iterate: current_user.students,
      link_path: ->(student_id) { student_lessons_path(student_id) },
      frame: "lessons-student"
      } %>

  <div class="col-9 col-sm-10" data-controller="students-index" data-side-bar-target="contentArea">
    <div class="d-flex">
      <div class="pe-2 ps-sm-2" data-action="click->side-bar#toggleFullPage">
        <img src="<%= image_path('hide-sidebar.svg') %>" alt="<%= t('toggle_icon') %>" data-side-bar-target="toggleIcon" style="width: 16px; height: auto;" class="mb-1 sidebar-icon">
      </div>
      <div class="h5"><%= @student.full_name %></div>
    </div>

    <% if @lessons.any? %>

      <div class="d-flex justify-content-between flex-wrap align-items-center ps-sm-2">
        <%= render partial: "lessons/filter" %>

        <div class="pe-4 d-flex align-items-center">
          <%= submit_tag t(".delete_selected"), data: { turbo_confirm: t(".confirm_message") }, class: "btn btn-link btn-sm ms-1 px-0 py-0 text-nowrap", form: "bulk-delete" %>
          <%= label_tag "select_all", t(".select_all"), class: "mx-1 mb-1 form-text" %>
          <%= check_box_tag "select_all", "1", false, id: "select_all", data: { action: "change->students-index#selectAll" } %>

        </div>
      </div>
      <%= form_with(url: bulk_delete_student_lessons_path(@student), id: "bulk-delete", method: :delete) do |form| %>
        <hr class="my-0">
        <div class="overflow-auto mb-0 mx-sm-2" style="max-height: 75vh;">
          <% @lessons.each do |lesson| %>
            <div class="card mt-3">
              <div class="card-header pb-0">
                <div class="row align-items-center">
                  <div class="col-10 col-sm-8 col-md-auto d-flex align-items-center">
                    <div class="text-nowrap card-title">
                      <%= l(lesson.starts_at, format: :custom) %>
                    </div>
                  </div>
                  <div class="col-10 col-sm-8 col-md-auto d-flex justify-content-start mt-2 mt-sm-0">
                    <div class="card-subtitle">
                      <%= lesson.starts_at.strftime("%I:%M%P") %>
                    </div>
                  </div>
                  <div class="col-2 col-sm-4 col-md-auto ms-auto">
                    <%= check_box_tag "lessons[]", lesson.id, false, :id => dom_id(lesson), data: {students_index_target: "checkbox"} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <hr class="my-0">
      <% end %>
    </div>

  <% else %>
    <hr class="mt-0">
    <h6> <%= t(".placeholder") %></h6>
    <hr class="my-3">
    <% if @student.lessons_count != 0 %>

      <div class="mb-0 ps-sm-2"><%= render partial: "lessons/filter" %> </div>
    <% end %>

  <% end %>
</div>

</div>
</div>
