<%= render "shared/breadcrumbs" %>

<div data-controller="students-index">
  <h1> Lessons </h1>

  <%= render partial: "shared/sidebar", 
    locals: { 
      toggle_button_action: "click->side-bar#toggleFullPage",
      array_to_iterate: current_user.students,
      link_path: ->(student_id) { student_lessons_path(student_id) },
      frame: "lessons-student"
      } %>

  <div class="col-9 col-sm-10" data-controller="students-index">
    <% if @lessons.any? %>

      <div class="d-flex justify-content-between flex-wrap">
        <%= render partial: "lessons/filter" %>

        <div class="pe-3">
          <%= label_tag "select_all", "Select all", class: "mx-1 form-text" %>
          <%= check_box_tag "select_all", "1", false, id: "select_all", data: { action: "change->students-index#selectAll" } %>
        </div>
      </div>
      <%= form_with(url: bulk_delete_student_lessons_path(@student), method: :delete) do |form| %>
        <% @lessons.each do |lesson| %>

          <div class="card mb-1">
            <div class="card-header pb-1">
              <div class="row align-items-center">

                <div class="col-10 col-sm-8 col-md-auto d-flex align-items-center">
                  <div class="text-nowrap">
                    <%= lesson.starts_at.strftime("%a, %-d %b, %Y") %>
                  </div>
                </div>

                <div class="col-10 col-sm-8 col-md-auto d-flex justify-content-start mt-2 mt-sm-0">
                  <div class="text-body-secondary">
                    <%= lesson.starts_at.strftime("%I:%M%P") %>
                  </div>
                </div>

                <div class="col-2 col-sm-4 col-md-auto ms-auto">
                  <%= check_box_tag "lessons[]", lesson.id, false, :id => dom_id(lesson), data: {students_index_target: "checkbox"} %>
                </div>
              </div>
            </div>

          </div>
        

      <% end %>

      <%= submit_tag "Delete Selected", data: { confirm: "Are you sure?" }, class: "btn btn-link btn-sm ms-1 px-0 text-nowrap", style: "color: black;" %>
    <% end %>
  </div>

<% else %>

  <h6> There are no lessons scheduled for this student.</h6>
<% end %>
</div>

</div>
</div>
