<!DOCTYPE html>
<html>
  <title>LessonLinx</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= render partial: 'shared/cdn_assets' %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- Default Favicon -->
  <%= favicon_link_tag 'favicon.ico' %>

  <!-- Favicon for light mode -->
  <%= tag 'link', rel: 'icon', href: asset_path('favicon.ico'), type: 'image/x-icon', media: '(prefers-color-scheme: light)' %>

  <!-- Favicon for dark mode -->
  <%= tag 'link', rel: 'icon', href: asset_path('favicon_dark_mode.ico'), type: 'image/x-icon', media: '(prefers-color-scheme: dark)' %>

  <body>

    <%= render partial: 'shared/navbar' %>

    <div class="container">

      <div class= "col-md-8 offset-2">
        <% if notice.present? %>
          <%= render partial: 'shared/flash', locals: { message: notice, role: "success" }  %>
        <% end %>
        <% if alert.present? %>
          <%= render partial: 'shared/flash', locals: { message: alert, role: "danger" } %>
        <% end %>
      </div>

      <%= yield %>

    </div>

  </body>
</html>
